extends layout

block content
  h1= title
  p Welcome to #{title}
  #wrapper
    pre#chatroomwin
    #users
    input#saytext
    | <input type="button" value="Send Message" class="sendmessage" />
    div.draggable.chatblock
      div.chatroom.scroller
      div.userlist
      input.message
      | <input type="button" value="Send Message" class="sendmessage" />
