body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#chatroomwin{
/**/
  border: solid 1px #ccc;
  height:200px;
  width:350px;
  overflow:auto;
}
